html {
  background-color: var(--white);
  font-family: Anonymous Pro, serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  line-height: 1.5;
  padding-bottom: 2rem;
}


/* Header CSSS */
header {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;

}
.h1Img {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    margin: 0;
}

h1 {
    color: var(--black);
    font-size:2rem;
    padding: 0;
    margin: 0;
    padding-right: 1rem;
}

.headerLogo{
    width: 4rem;
    height: auto;
    padding-left: 1rem;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    background-color: var(--blue);
}

.navButton {
    width: calc(100% / 3);
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navButton a {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

.navButton a:hover {
    text-decoration: underline;
}


/* MAIN css */
main {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.1rem;
}

h2 {
    width: 100%;
    color: var(--black);
    font-size: 1.5rem;
    padding-left: 1rem;
}


/* CSS for book page specifically */
.annotation {
    color: var(--blue);
}

.bookPage img {
    float: right;
    width: 15rem;
    height: auto;
    padding: 2px;
}

/* CSS for small screens, changes how the cover image behaves and also the name of the book */
@media (max-width: 500px) {
  .bookPage img {
    float: none;
    display: block;
    margin: 0 auto;

  }

  #name {
    text-align: center;
  }
}


/* CSS FOR INDEX TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}

.table {
  max-height: 60vh;
  overflow-y: auto;
}

thead th {
  z-index: 1;
  font-weight: bold;
  text-align: left; 
  background-color: var(--blue);
  color: var(--white);
  padding: 0.5rem;
  position: sticky;
  top: 0
}

td {
    padding: 0.5rem;
}

.moreBtn {
    color: var(--blue);
    text-decoration: underline;
}

tbody tr:hover {
    text-decoration: underline;
    color: var(--blue);
    cursor: pointer;
}


/* ABOUT PAGE CSS */
.imageColumn {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aboutImg {
    width: 15rem;
    height: auto;
    display: block;
    padding: 1rem;
}

/* FOOTER */
footer {
    padding: 2rem;
    text-align: center;

}